.login-container {
  height: 100vh;
  background-color: #eefaf4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 50px;
  width: 90%;
  max-width: 500px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.login-logo {
  width: 75px;
  margin-bottom: 10px;
}

.login-title {
  color: #1c8b5f;
  margin: 10px 0;
  font-size: 28px;
}

.login-subtitle {
  color: gray;
  margin-bottom: 30px;
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  font-weight: 500;
  font-size: 14px;
}

.input-group input {
  width: 100%;
  padding: 14px;
  margin-top: 6px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #f7f7f7;
  outline: none;
  font-size: 14px;
}

.login-button {
  width: 100%;
  padding: 15px;
  background: linear-gradient(to right, #020024, #090979);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.signup-text {
  margin-top: 20px;
  font-size: 14px;
}

.signup-text span {
  color: #0056ff;
  cursor: pointer;
  font-weight: 500;
}
.error-msg {
  margin-bottom: 15px;
  color: #ff3b30;
  font-size: 14px;
  font-weight: 500;
}
