/* RESET DEFAULT VITE RESTRICTIONS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background: #eefaf3;
}

/* ROOT MUST TAKE FULL WIDTH */

#root {
  width: 100%;
  min-height: 100vh;
}